<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete Confirmation</title>
    {% load static %}
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
</head>
<body>
    <div class="delete-container">
        <p class="delete-message">You are deleting item "{{ item }}", Are you sure?</p>

        <div class="delete-buttons">
            <a href="{% url 'index' %}" class="cancel-btn">No</a>

            <form method="POST">
                {% csrf_token %}
                <input type="submit" value="Yes" class="confirm-btn">
            </form>
        </div>
    </div>
</body>
</html>
